In [1]:
import pandas as pd

In [40]:
df=pd.read_csv('Online Retail (3).xlsx - Online Retail.csv'
)

In [3]:
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [4]:
print(df.tail())

       InvoiceNo StockCode                      Description  Quantity  \
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID Country
541904  12/9/11 12:50       0.85     12680.0  France
541905  12/9/11 12:50       2.10     12680.0  France
541906  12/9/11 12:50       4.15     12680.0  France
541907  12/9/11 12:50       4.15     12680.0  France
541908  12/9/11 12:50       4.95     12680.0  France

In [5]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

In [6]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [7]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

In [8]:
#checking the shape of data

In [9]:
df.shape

(541909, 8)

In [10]:
#checking the info of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [11]:
# We understand that there are null values in Description and CustomerID.

In [12]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [13]:
#Going through the respective columns step by step

In [15]:
df["InvoiceNo"]

0         536365
1         536365
2         536365
3         536365
4         536365
           ...
541904    581587
541905    581587
541906    581587
541907    581587
541908    581587
Name: InvoiceNo, Length: 541909, dtype: object

In [16]:
df["StockCode"]

0         85123A
1          71053
2         84406B
3         84029G
4         84029E
           ...
541904     22613
541905     22899
541906     23254
541907     23255
541908     22138
Name: StockCode, Length: 541909, dtype: object

In [17]:
df["Description"]

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

In [18]:
df["Quantity"]

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [19]:
df["InvoiceDate"]

0          12/1/10 8:26
1          12/1/10 8:26
2          12/1/10 8:26
3          12/1/10 8:26
4          12/1/10 8:26
              ...
541904    12/9/11 12:50
541905    12/9/11 12:50
541906    12/9/11 12:50
541907    12/9/11 12:50
541908    12/9/11 12:50
Name: InvoiceDate, Length: 541909, dtype: object

In [20]:
df["UnitPrice"]

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

In [21]:
df["CustomerID"]

0         17850.0
1         17850.0
2         17850.0
3         17850.0
4         17850.0
           ...
541904    12680.0
541905    12680.0
541906    12680.0
541907    12680.0
541908    12680.0
Name: CustomerID, Length: 541909, dtype: float64

In [22]:
df["Country"]

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: object

In [23]:
df["InvoiceNo"].unique()

array(['536365', '536366', '536367', ..., '581585', '581586', '581587'],
      dtype=object)

In [24]:
df["InvoiceNo"].head()

0    536365
1    536365
2    536365
3    536365
4    536365
Name: InvoiceNo, dtype: object

In [25]:
df["InvoiceNo"].head(50)

0     536365
1     536365
2     536365
3     536365
4     536365
5     536365
6     536365
7     536366
8     536366
9     536367
10    536367
11    536367
12    536367
13    536367
14    536367
15    536367
16    536367
17    536367
18    536367
19    536367
20    536367
21    536368
22    536368
23    536368
24    536368
25    536369
26    536370
27    536370
28    536370
29    536370
30    536370
31    536370
32    536370
33    536370
34    536370
35    536370
36    536370
37    536370
38    536370
39    536370
40    536370
41    536370
42    536370
43    536370
44    536370
45    536370
46    536371
47    536372
48    536372
49    536373
Name: InvoiceNo, dtype: object

In [26]:
df.loc[141:]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/10 9:41,27.50,14527.0,United Kingdom
142,536382,10002,INFLATABLE POLITICAL GLOBE,12,12/1/10 9:45,0.85,16098.0,United Kingdom
143,536382,21912,VINTAGE SNAKES & LADDERS,8,12/1/10 9:45,3.75,16098.0,United Kingdom
144,536382,21832,CHOCOLATE CALCULATOR,12,12/1/10 9:45,1.65,16098.0,United Kingdom
145,536382,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,12/1/10 9:45,1.95,16098.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

In [27]:
len(df["InvoiceNo"].unique())

25900

In [28]:
df.loc[141:200]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/10 9:41,27.50,14527.0,United Kingdom
142,536382,10002,INFLATABLE POLITICAL GLOBE,12,12/1/10 9:45,0.85,16098.0,United Kingdom
143,536382,21912,VINTAGE SNAKES & LADDERS,8,12/1/10 9:45,3.75,16098.0,United Kingdom
144,536382,21832,CHOCOLATE CALCULATOR,12,12/1/10 9:45,1.65,16098.0,United Kingdom
145,536382,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,12/1/10 9:45,1.95,16098.0,United Kingdom
146,536382,22379,RECYCLING BAG RETROSPOT,10,12/1/10 9:45,2.10,16098.0,United Kingdom
147,536382,22381,TOY TIDY PINK POLKADOT,50,12/1/10 9:45,1.85,16098.0,United Kingdom
148,536382,22798,ANTIQUE GLASS DRESSING TABLE POT,8,12/1/10 9:45,2.95,16098.0,United Kingdom
149,536382,22726,ALARM CLOCK BAKELIKE GREEN,4,12/1/10 9:45,3.75,16098.0,United Kingdom
150,536382,22926,IVORY GIANT GARDEN THERMOMETER,12,12/1/10 9:45,5.95,16098.0,United Kingdom
151,536382,22839,3 TIER CAKE TIN GREEN AND CREAM,2,12/1/10 9:45,14.95,16098.0,United Kingdom
152,536382,22838,3 TIER CAKE TIN RED AND CREAM,2,12/1/10 9:45,14.95,16098.0,United Kingdom
153,536382,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,12/1/10 9:45,16.95,16098.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/10 9:49,4.65,15311.0,United Kingdom
155,536384,82484,WOOD BLACK BOARD ANT WHITE FINISH,3,12/1/10 9:53,6.45,18074.0,United Kingdom
156,536384,84755,COLOUR GLASS T-LIGHT HOLDER HANGING,48,12/1/10 9:53,0.65,18074.0,United Kingdom
157,536384,22464,HANGING METAL HEART LANTERN,12,12/1/10 9:53,1.65,18074.0,United Kingdom
158,536384,21324,HANGING MEDINA LANTERN SMALL,6,12/1/10 9:53,2.95,18074.0,United Kingdom
159,536384,22457,NATURAL SLATE HEART CHALKBOARD,12,12/1/10 9:53,2.95,18074.0,United Kingdom
160,536384,22469,HEART OF WICKER SMALL,40,12/1/10 9:53,1.45,18074.0,United Kingdom
161,536384,22470,HEART OF WICKER LARGE,40,12/1/10 9:53,2.55,18074.0,United Kingdom
162,536384,22224,WHITE LOVEBIRD LANTERN,6,12/1/10 9:53,2.95,18074.0,United Kingdom
163,536384,21340,CLASSIC METAL BIRDCAGE PLANT HOLDER,2,12/1/10 9:53,12.75,18074.0,United Kingdom
164,536384,22189,CREAM HEART CARD HOLDER,4,12/1/10 9:53,3.95,18074.0,United Kingdom
165,536384,22427,ENAMEL FLOWER JUG CREAM,3,12/1/10 9:53,5.95,18074.0,United Kingdom
166,536384,22428,ENAMEL FIRE BUCKET CREAM,6,12/1/10 9:53,6.95,18074.0,United Kingdom
167,536384,22424,ENAMEL BREAD BIN CREAM,8,12/1/10 9:53,10.95,18074.0,United Kingdom
168,536385,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,12/1/10 9:56,19.95,17420.0,United Kingdom
169,536385,22961,JAM MAKING SET PRINTED,12,12/1/10 9:56,1.45,17420.0,United Kingdom
170,536385,22960,JAM MAKING SET WITH JARS,6,12/1/10 9:56,4.25,17420.0,United Kingdom
171,536385,22663,JUMBO BAG DOLLY GIRL DESIGN,10,12/1/10 9:56,1.95,17420.0,United Kingdom
172,536385,85049A,TRADITIONAL CHRISTMAS RIBBONS,12,12/1/10 9:56,1.25,17420.0,United Kingdom
173,536385,22168,ORGANISER WOOD ANTIQUE WHITE,2,12/1/10 9:56,8.50,17420.0,United Kingdom
174,536385,22662,LUNCH BAG DOLLY GIRL DESIGN,10,12/1/10 9:56,1.65,17420.0,United Kingdom
175,536386,84880,WHITE WIRE EGG HOLDER,36,12/1/10 9:57,4.95,16029.0,United Kingdom
176,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,12/1/10 9:57,1.65,16029.0,United Kingdom
177,536386,85099B,JUMBO BAG RED RETROSPOT,100,12/1/10 9:57,1.65,16029.0,United Kingdom
178,536387,79321,CHILLI LIGHTS,192,12/1/10 9:58,3.82,16029.0,United Kingdom
179,536387,22780,LIGHT GARLAND BUTTERFILES PINK,192,12/1/10 9:58,3.37,16029.0,United Kingdom
180,536387,22779,WOODEN OWLS LIGHT GARLAND,192,12/1/10 9:58,3.37,16029.0,United Kingdom
181,536387,22466,FAIRY TALE COTTAGE NIGHTLIGHT,432,12/1/10 9:58,1.45,16029.0,United Kingdom
182,536387,21731,RED TOADSTOOL LED NIGHT LIGHT,432,12/1/10 9:58,1.25,16029.0,United Kingdom
183,536388,21754,HOME BUILDING BLOCK WORD,3,12/1/10 9:59,5.95,16250.0,United Kingdom
184,536388,21755,LOVE BUILDING BLOCK WORD,3,12/1/10 9:59,5.95,16250.0,United Kingdom
185,536388,21523,DOORMAT FANCY FONT HOME SWEET HOME,2,12/1/10 9:59,7.95,16250.0,United Kingdom
186,536388,21363,HOME SMALL WOOD LETTERS,3,12/1/10 9:59,4.95,16250.0,United Kingdom
187,536388,21411,GINGHAM HEART DOORSTOP RED,3,12/1/10 9:59,4.25,16250.0,United Kingdom
188,536388,22318,FIVE HEART HANGING DECORATION,6,12/1/10 9:59,2.95,16250.0,United Kingdom
189,536388,22464,HANGING METAL HEART LANTERN,12,12/1/10 9:59,1.65,16250.0,United Kingdom
190,536388,22915,ASSORTED BOTTLE TOP MAGNETS,12,12/1/10 9:59,0.42,16250.0,United Kingdom
191,536388,22922,FRIDGE MAGNETS US DINER ASSORTED,12,12/1/10 9:59,0.85,16250.0,United Kingdom
192,536388,22969,HOMEMADE JAM SCENTED CANDLES,12,12/1/10 9:59,1.45,16250.0,United Kingdom
193,536388,22923,FRIDGE MAGNETS LES ENFANTS ASSORTED,12,12/1/10 9:59,0.85,16250.0,United Kingdom
194,536388,21115,ROSE CARAVAN DOORSTOP,4,12/1/10 9:59,6.75,16250.0,United Kingdom
195,536388,22469,HEART OF WICKER SMALL,12,12/1/10 9:59,1.65,16250.0,United Kingdom
196,536388,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/10 9:59,1.65,16250.0,United Kingdom
197,536389,22941,CHRISTMAS LIGHTS 10 REINDEER,6,12/1/10 10:03,8.50,12431.0,Australia
198,536389,21622,VINTAGE UNION JACK CUSHION COVER,8,12/1/10 10:03,4.95,12431.0,Australia
199,536389,21791,VINTAGE HEADS AND TAILS CARD GAME,12,12/1/10 10:03,1.25,12431.0,Australia
200,536389,35004C,SET OF 3 COLOURED FLYING DUCKS,6,12/1/10 10:03,5.45,12431.0,Australia

In [30]:
df.sample(13)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
483320,577500,84006,MAGIC TREE -PAPER FLOWERS,1,11/20/11 12:30,0.85,14052.0,United Kingdom
245554,558614,23291,DOLLY GIRL CHILDRENS CUP,4,6/30/11 15:56,1.25,NaN,United Kingdom
475587,576905,22568,FELTCRAFT CUSHION OWL,4,11/17/11 9:31,3.75,13308.0,United Kingdom
213665,555551,79030D,TUMBLER BAROQUE,24,6/5/11 13:32,0.39,14696.0,United Kingdom
184146,552676,85123a,WHITE HANGING HEART T-LIGHT HOLDER,2,5/10/11 15:07,6.63,NaN,United Kingdom
308170,563940,20728,LUNCH BAG CARS BLUE,10,8/22/11 9:30,1.65,17416.0,United Kingdom
104644,545188,10133,COLOURING PENCILS BROWN TUBE,3,2/28/11 15:19,0.85,14056.0,United Kingdom
28065,538625,21671,RED SPOT CERAMIC DRAWER KNOB,12,12/13/10 12:50,1.25,14544.0,United Kingdom
175478,551960,22621,TRADITIONAL KNITTING NANCY,12,5/5/11 12:38,1.65,18239.0,United Kingdom
495248,578293,23307,SET OF 60 PANTRY DESIGN CAKE CASES,24,11/23/11 14:36,0.55,15640.0,United Kingdom
255876,559372,22758,LARGE PURPLE BABUSHKA NOTEBOOK,12,7/8/11 10:23,1.25,12461.0,Switzerland
262769,559923,90198A,VINTAGE ROSE BEAD BRACELET RASPBERR,1,7/13/11 16:07,4.15,NaN,United Kingdom
104930,545215,90018A,SILVER M.O.P ORBIT DROP EARRINGS,1,2/28/11 16:47,4.15,NaN,United Kingdom

In [36]:
df.sample(100)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
144930,,,TRAVEL SEWING KIT,3,4/4/11 13:38,1.65,13263.0,United Kingdom
503433,,,EASTER CRAFT 4 CHICKS,4,11/27/11 12:24,1.95,18156.0,United Kingdom
7188,,,NaN,-20,12/3/10 15:30,0.00,NaN,United Kingdom
475111,,,LUNCH BAG WOODLAND,10,11/16/11 16:06,1.65,12626.0,Germany
66536,,,TRAVEL SEWING KIT,2,1/21/11 14:58,4.13,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
329797,,,ROUND SNACK BOXES SET OF 4 FRUITS,12,9/7/11 13:22,2.95,12490.0,France
476830,,,BLUE DISCO HANDBAG,4,11/17/11 13:16,1.95,12847.0,United Kingdom
4145,,,TV DINNER TRAY DOLLY GIRL,1,12/2/10 13:49,4.95,17976.0,United Kingdom
252867,,,TEA TIME DES TEA COSY,1,7/6/11 13:56,2.55,15311.0,United Kingdom
478239,,,CAMOUFLAGE LED TORCH,1,11/17/11 15:17,3.29,NaN,United Kingdom

In [41]:
df['StockCode']=df['StockCode'].str.replace(r'[^0-9]','')

C:\Users\JMS\AppData\Local\Temp\ipykernel_11360\1539721638.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['StockCode']=df['StockCode'].str.replace(r'[^0-9]','')

In [42]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

In [43]:
df.head(100)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,12/1/10 9:37,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,12/1/10 9:37,0.42,14688.0,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,12/1/10 9:37,0.55,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,12/1/10 9:37,0.55,14688.0,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,12/1/10 9:37,0.55,14688.0,United Kingdom

In [44]:
df['InvoiceDate']=df['InvoiceDate'].str.replace(r'\b\d{1,2}:\d{2}(:\d{2})?\b','')

C:\Users\JMS\AppData\Local\Temp\ipykernel_11360\4162677586.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['InvoiceDate']=df['InvoiceDate'].str.replace(r'\b\d{1,2}:\d{2}(:\d{2})?\b','')

In [45]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10,3.39,17850.0,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,12/1/10,2.75,17850.0,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10,3.39,17850.0,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11,4.95,12680.0,France

In [46]:
df.head(144)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10,3.39,17850.0,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,12/1/10,2.75,17850.0,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10,3.39,17850.0,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
139,536381,22719,GUMBALL MONOCHROME COAT RACK,36,12/1/10,1.06,15311.0,United Kingdom
140,536381,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,12/1/10,6.75,15311.0,United Kingdom
141,C536379,,Discount,-1,12/1/10,27.50,14527.0,United Kingdom
142,536382,10002,INFLATABLE POLITICAL GLOBE,12,12/1/10,0.85,16098.0,United Kingdom
143,536382,21912,VINTAGE SNAKES & LADDERS,8,12/1/10,3.75,16098.0,United Kingdom

In [47]:
df['InvoiceNo']=df['InvoiceNo'].str.replace(r'[^0-9]','')

C:\Users\JMS\AppData\Local\Temp\ipykernel_11360\1387006000.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['InvoiceNo']=df['InvoiceNo'].str.replace(r'[^0-9]','')

In [48]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10,3.39,17850.0,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,12/1/10,2.75,17850.0,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10,3.39,17850.0,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11,4.95,12680.0,France

In [49]:
df.head(142)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10,3.39,17850.0,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,12/1/10,2.75,17850.0,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10,3.39,17850.0,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
137,536381,21731,RED TOADSTOOL LED NIGHT LIGHT,2,12/1/10,1.65,15311.0,United Kingdom
138,536381,22778,GLASS CLOCHE SMALL,3,12/1/10,3.95,15311.0,United Kingdom
139,536381,22719,GUMBALL MONOCHROME COAT RACK,36,12/1/10,1.06,15311.0,United Kingdom
140,536381,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,12/1/10,6.75,15311.0,United Kingdom
141,536379,,Discount,-1,12/1/10,27.50,14527.0,United Kingdom

In [50]:
df['Quantity']=df['Quantity'].abs()

In [51]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10,3.39,17850.0,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,12/1/10,2.75,17850.0,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10,3.39,17850.0,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11,4.95,12680.0,France

In [52]:
df[141]

KeyError: 141

In [53]:
df.head(142)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10,3.39,17850.0,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,12/1/10,2.75,17850.0,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10,3.39,17850.0,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
137,536381,21731,RED TOADSTOOL LED NIGHT LIGHT,2,12/1/10,1.65,15311.0,United Kingdom
138,536381,22778,GLASS CLOCHE SMALL,3,12/1/10,3.95,15311.0,United Kingdom
139,536381,22719,GUMBALL MONOCHROME COAT RACK,36,12/1/10,1.06,15311.0,United Kingdom
140,536381,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,12/1/10,6.75,15311.0,United Kingdom
141,536379,,Discount,1,12/1/10,27.50,14527.0,United Kingdom

In [54]:
df.to_csv('Output.csv', index=False)